@use './tokens' as *;

section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: min-content;
    padding: 24px 96px;
    gap: 24px;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        grid-template-columns: repeat(8, 1fr);
        padding: 16px 64px;
        gap: 16px;
    }

    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(4, 1fr);
        padding: 12px;
        gap: 12px;
    }
}

.hero_section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: min-content;
    padding: 0 96px;
    column-gap: 24px;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        grid-template-columns: repeat(8, 1fr);
        padding: 0 64px;
        column-gap: 16px;
    }

    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 12px;
        column-gap: 12px;
    }
}
