@use './tokens' as *;

// Typography variables
@font-face {
    font-family: 'Cinedics';
    src: url('../public/fonts/Cinedics/cinedics-regular-webfont.woff');
}

@font-face {
    font-family: 'Cinedics Bold';
    src: url('../public/fonts/Cinedics/cinedics-bold-webfont.woff');
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../public/fonts/Proxima_Nova/ProximaNova-Regular.ttf');
}

@font-face {
    font-family: 'Proxima Nova SemiBold';
    src: url('../public/fonts/Proxima_Nova/ProximaNova-Semibold.ttf');
}

// Font families
$heading_font: 'Cinedics Bold', sans-serif;
$paragraph_font: 'Proxima Nova', sans-serif;
$paragrpah_font_semibold: 'Proxima Nova SemiBold', sans-serif;
$button_font: 'Cinedics', sans-serif;

// Font weights
$font_regular: 400;
$font_medium: 500;
$font_bold: 700;

// Defaults
html,
body {
    font-family: $paragraph_font;
    font-weight: $font_regular;
    background: $off_white;
    color: $text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading), ui-sans-serif, system-ui;
}

// Typography styles
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading;
    font-family: $heading_font;
    font-weight: $font_bold;
    line-height: 1.05;
    padding: 0;
    margin: 0;
}

p {
    color: $text;
    font-family: $paragraph_font;
    font-weight: $font_regular;
    line-height: 1.4;
    padding: 0;
    margin: 0;
}

a {
    color: $primary;
    font-size: $paragraph;
    font-family: $button_font;
    font-weight: $font_regular;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button {
    width: fit-content;
    color: $heading;
    font-size: $paragraph;
    font-family: $button_font;
    font-weight: $font_regular;
    letter-spacing: 0.05em;
    border: none;
    cursor: pointer;
}

.heading_font {
    font-family: $heading_font;
    font-weight: $font_bold;
}

.paragraph_font {
    font-family: $paragraph_font;
    font-weight: $font_regular;
}

.button_font {
    font-family: $button_font;
    font-weight: $font_regular;
}

.font_medium {
    font-family: $paragrpah_font_semibold;
    font-weight: $font_medium;
}

.underline {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.35em;

    width: 100%;
    height: 6px;

    pointer-events: none;
    overflow: visible;

    transition: transform 260ms cubic-bezier(0.4, 0, 0.2, 1);
}

.underline__path {
    fill: none;
    stroke: $primary;
    stroke-width: 2px;
    stroke-linecap: round;
    vector-effect: non-scaling-stroke;

    /* NORMALIZED DASH */
    stroke-dasharray: 1;
    stroke-dashoffset: 0.65; // ~35% visible

    transition: stroke-dashoffset 320ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* hover */
.cta_underline:hover .underline {
    transform: translateY(-2px);
}

.cta_underline:hover .underline__path {
    stroke-dashoffset: 0;
}
