@use './tokens' as *;

// Typography variables
@font-face {
    font-family: 'Cinedics';
    src: url('../public/fonts/Cinedics/cinedics-regular-webfont.woff');
}

@font-face {
    font-family: 'Cinedics Bold';
    src: url('../public/fonts/Cinedics/cinedics-bold-webfont.woff');
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../public/fonts/Proxima_Nova/ProximaNova-Regular.ttf');
}

@font-face {
    font-family: 'Proxima Nova SemiBold';
    src: url('../public/fonts/Proxima_Nova/ProximaNova-Semibold.ttf');
}

// Font families
$heading_font: 'Cinedics Bold', sans-serif;
$paragraph_font: 'Proxima Nova', sans-serif;
$paragrpah_font_semibold: 'Proxima Nova SemiBold', sans-serif;
$button_font: 'Cinedics', sans-serif;

// Font weights
$font_regular: 400;
$font_medium: 500;
$font_bold: 700;

// Defaults
html,
body {
    font-family: $paragraph_font;
    font-weight: $font_regular;
    background: $off_white;
    color: $text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading), ui-sans-serif, system-ui;
}

// Typography styles
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading;
    font-family: $heading_font;
    font-weight: $font_bold;
    line-height: 1.05;
    padding: 0;
    margin: 0;
}

p {
    color: $text;
    font-family: $paragraph_font;
    font-weight: $font_regular;
    line-height: 1.4;
    padding: 0;
    margin: 0;
}

a {
    color: $primary;
    font-size: $paragraph;
    font-family: $button_font;
    font-weight: $font_regular;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button {
    width: fit-content;
    color: $heading;
    font-size: $paragraph;
    font-family: $button_font;
    font-weight: $font_regular;
    text-decoration: underline $primary 2px;
    letter-spacing: 0.05em;
    border: none;
    cursor: pointer;
    text-underline-offset: 6px;
    transition: all 0.3s ease;

    &:hover {
        text-underline-offset: 1px;
    }
}

.heading_font {
    font-family: $heading_font;
    font-weight: $font_bold;
}

.paragraph_font {
    font-family: $paragraph_font;
    font-weight: $font_regular;
}

.button_font {
    font-family: $button_font;
    font-weight: $font_regular;
}

.font_medium {
    font-family: $paragrpah_font_semibold;
    font-weight: $font_medium;
}
